@media screen {
    body {
        margin-left: 10%;
        margin-right: 10%
        }
    }
.pagedjs_page_content > div {
    margin-left: 10%;
    margin-right: 10%
    }
p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: justify;
    text-indent: 1.5em
    }
.center {
    text-align: center;
    text-indent: 0
    }
.lapide {
    text-align: center;
    text-indent: 0;
    line-height: 2em;
    font-size: 80%;
    margin: 2em auto
    }
div.booktitle {
    page-break-before: always;
    padding: 3em
    }
div.titlepage {
    text-align: center;
    margin: 0 5%;
    padding: 2em 0;
    page-break-before: always;
    page-break-after: always
    }
div.titlepage p {
    text-align: inherit;
    text-indent: 0
    }
div.verso {
    text-align: center;
    padding-top: 2em;
    font-size: 95%;
    margin: 0 10%
    }
div.verso p {
    text-align: inherit;
    text-indent: 0
    }
div.somm {
    page-break-before: always;
    padding-top: 3em
    }
div.somm p {
    text-indent: 0
    }
div.chapter {
    page-break-before: always;
    padding-top: 3em
    }
div.chapter h2 {
    page-break-before: avoid
    }
h1, h2 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5
    }
h1 {
    font-size: 150%
    }
h2 {
    font-size: 140%;
    margin-top: 1em;
    margin-bottom: 2em;
    page-break-before: avoid
    }
span.smaller {
    display: block;
    font-size: 68%;
    margin: 0.5em 5%;
    line-height: 1.2em
    }
hr {
    width: 70%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 15%;
    margin-right: 15%;
    clear: both
    }
hr.mid {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%
    }
hr.silver {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-top: none;
    border-right: none;
    border-bottom: thin solid silver;
    border-left: none
    }
@media handheld {
    hr.silver {
        display: none
        }
    }
.pagenum {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 65%;
    text-align: right;
    color: #999;
    background-color: #fff;
    clear: left
    }
.pad4 {
    margin-top: 4em
    }
.pad2 {
    margin-top: 2em
    }
.pad1 {
    margin-top: 1em
    }
.small {
    font-size: 85%
    }
.large {
    font-size: 115%
    }
.x-large {
    font-size: 130%
    }
.main-t {
    font-size: 200%
    }
.smcap {
    font-variant: small-caps
    }
table {
    margin: auto;
    border-collapse: collapse
    }
.indice {
    line-height: 1em;
    margin-top: 2em;
    font-size: 90%
    }
.indice td {
    vertical-align: top;
    padding-left: 1.5em;
    text-indent: -1em;
    padding-top: 0.5em
    }
.indice td.cap {
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    padding-right: 0.5em
    }
.indice td.pag {
    text-align: right;
    vertical-align: bottom;
    white-space: nowrap
    }
.figcenter {
    text-align: center;
    margin: 2em auto;
    clear: both;
    max-width: 100%
    }
img {
    max-width: 100%;
    height: auto
    }
.caption {
    text-align: center;
    font-size: 80%;
    text-indent: 0;
    margin: 0.25em 0
    }
.tnote {
    background-color: #f7f1e3;
    color: #000;
    padding: 1em 1em 2em 1em;
    margin: 3em 10%;
    font-family: sans-serif;
    font-size: 90%;
    page-break-before: always
    }
.tntitle {
    text-align: center;
    text-indent: 0;
    padding: 1em;
    font-size: 120%;
    margin-bottom: 1em
    }
.tnote p {
    padding: 0 1em;
    text-indent: 0;
    line-height: 1.2em
    }
.poem {
    text-align: left;
    font-size: 95%;
    margin: 1.5em 10%
    }
.poem p {
    margin: 0;
    padding-left: 3em;
    text-indent: -3em
    }

@charset "utf-8";
body, body.tei.tei-text {
    color: black;
    background-color: white;
    width: auto;
    border: 0;
    padding: 0
    }
div, p, pre, h1, h2, h3, h4, h5, h6 {
    margin-left: 0;
    margin-right: 0;
    display: block
    }
section.pgheader {
    page-break-after: always
    }
section.pgfooter {
    page-break-before: always
    }
div.pgebub-root-div {
    margin: 0
    }
h2 {
    page-break-before: always;
    padding-top: 1em
    }
div.figcenter span.caption {
    display: block
    }
.pgmonospaced {
    font-family: monospace;
    font-size: 0.9em
    }
a.pgkilled {
    text-decoration: none
    }
.x-ebookmaker-cover {
    background-color: grey;
    text-align: center;
    padding: 0;
    margin: 0;
    page-break-after: always;
    text-indent: 0;
    width: 100%;
    height: 100%
    }
body.x-ebookmaker-coverpage {
    margin: 0;
    padding: 0
    }
body.x-ebookmaker.x-ebookmaker-3 .pgshow {
    visibility: visible;
    display: initial
    }

#pg-header div, #pg-footer div {
    all: initial;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em
    }
#pg-footer div.agate {
    font-size: 90%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center
    }
#pg-footer li {
    all: initial;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    text-indent: -0.6em
    }
#pg-footer div.secthead {
    font-size: 110%;
    font-weight: bold
    }
#pg-footer #project-gutenberg-license {
    font-size: 110%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center
    }
#pg-header-heading {
    all: inherit;
    text-align: center;
    font-size: 120%;
    font-weight: bold
    }
#pg-footer-heading {
    all: inherit;
    text-align: center;
    font-size: 120%;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0
    }
#pg-header #pg-machine-header p {
    text-indent: -4em;
    margin-left: 4em;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: medium
    }
#pg-header #pg-header-authlist {
    all: initial;
    margin-top: 0;
    margin-bottom: 0
    }
#pg-header #pg-machine-header strong {
    font-weight: normal
    }
#pg-header #pg-start-separator, #pg-footer #pg-end-separator {
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: auto;
    margin-top: 2em;
    text-align: center
    }
.xhtml_center {
    text-align: center;
    display: block
    }
.xhtml_center table {
    display: table;
    text-align: left;
    margin-left: auto;
    margin-right: auto
    }